.btn{
cursor: pointer;
}
@media (max-width: 991px) {
    .navbar-vertical {
        display: none;
    }

    .navbar-collapse .nav-item .dropdown-menu {
        background: none;
        border: none;
        padding-left: 1rem;
    }

    .navbar-collapse .nav-item .dropdown-menu .dropdown-item {
        color: #fff;
    }

    .navbar-brand {
        display: block !important;
    }
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }
}

.navbar-dark .nav-link.disabled {
    color: rgba(255, 255, 255, 0.5);
}

.navbar{
    font-size: 16px !important;   
}

.alert-success{
    border-left:2px solid #008000;
}
.alert-danger{
    border-left:2px solid red;
}

.card{
    border-radius: 0px !important;
}

